body {
    font-family: 'poppins';
}
.cabecalho {
    background-color: rgb(112, 99, 99); 
    display: flex;
    justify-content: space-between;
    padding: 30px;
    max-width: 1300px;
    margin: 0 auto;
}
.cabecalho .logo {
    width: 60px;
   
}
.cabecalho .menu {
    display: flex;
    align-items: center;
    height: 100%;
}
.cabecalho nav li a {
    font-weight: bold;
    color: #ffff;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.5s;
}
.cabecalho nav li a:hover { 
    background-color: #d5011d;

} 
.container {
    background-color: orange;
    max-width: 1300px;
    margin:0 auto;
    display: flex;
    align-items: center;
    height: calc(100vh - 132px);
   padding: auto;

} 
.container .titulo-do-flime {
    max-width: 500px;
}
.container .descricao {
    color: #a8adb7;
    width: 85%;
    font-size: 18px;
    margin: 30px 0;
}
.containerv .botao-trailer {
    background-color: #d5011d;
    color: #ffff;
    padding: 10px;
    font-size: 18px;
    fon
    cursor: pointer;
}